[Unit]
Description=Authelia authentication and authorization server
After=network.target

[Service]
Type=simple
User=authelia
Group=authelia
ExecStart=/opt/authelia/authelia --config /etc/authelia/configuration.yml
Restart=on-failure
RestartSec=5s

# Sécurité
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/lib/authelia

[Install]
WantedBy=multi-user.target
